@model DeclarationModel

<div class="card p-4">
    <h3 class="text-primary fw-bold p-3 rounded" style="background-color: #d8ebff">Wealth Declaration of @ViewBag.User</h3>
</div>
<div class="card p-2">
    <dv>
        <h5 class="text-center text-dark text-capitalize fw-bold mt-3">Real Estate</h5>
    </dv>
    <table class="table">
        <thead>
            <tr>
                <th>Ownership</th>
                <th>Income Type</th>
                <th>Source</th>
                <th>Country</th>
                <th>Bank</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.IncomeModel is null)
            {
                <tr>
                    <td>Unavailable Information</td>
                </tr>
            }
            <tr>
                <td>@Model.IncomeModel?.Owned</td>
                <td>@Model.IncomeModel?.IncomeType</td>
                <td>@Model.IncomeModel?.Source</td>
                <td>@Model.IncomeModel?.Country</td>
                <td>@Model.IncomeModel?.Bank</td>
                <td>@Model.IncomeModel?.Amount</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card p-2">
    <dv>
        <h5 class="text-center text-dark text-capitalize fw-bold mt-3">Movable Assets over (3000.00) Euro</h5>
    </dv>
    <table class="table">
        <thead>
            <tr>
                <th>Ownership</th>
                <th>Type</th>
                <th>Area</th>
                <th>Price</th>
                <th>Origin</th>
                <th>Date</th>
                <th>Unique</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.MovableAssetsModel is null)
            {
                <tr>
                    <td>Nuk ka të dhëna</td>
                </tr>
            }
            <tr>
                <td>@Model.MovableAssetsModel?.Owned</td>
                <td>@Model.MovableAssetsModel?.Type</td>
                <td>@Model.MovableAssetsModel?.Area</td>
                <td>@Model.MovableAssetsModel?.Price</td>
                <td>@Model.MovableAssetsModel?.Origine</td>
                <td>@Model.MovableAssetsModel?.Date</td>
                <td>@Model.MovableAssetsModel?.Unique</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card p-2">
    <dv>
        <h5 class="text-center text-dark text-capitalize fw-bold mt-3">Shareholding in Trading Companies</h5>
    </dv>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Actions</th>
                <th>Value</th>
                <th>Percentage</th>
                <th>Date Registred</th>
                <th>Date Owned</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ActionsModel is null)
            {
                <tr>
                    <td>Nuk ka të dhëna</td>
                </tr>
            }
            <tr>
                <td>@Model.ActionsModel?.Name</td>
                <td>@Model.ActionsModel?.Type</td>
                <td>@Model.ActionsModel?.Actions</td>
                <td>@Model.ActionsModel?.Value</td>
                <td>@Model.ActionsModel?.Percent</td>
                <td>@Model.ActionsModel?.DateRegistred</td>
                <td>@Model.ActionsModel?.DateOwned</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card p-2">
    <dv>
        <h5 class="text-center text-dark text-capitalize fw-bold mt-3">Ownership of Bonds</h5>
    </dv>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value Now</th>
                <th>Origin</th>
                <th>Date</th>
                <th>Bonds</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.BondModel is null)
            {
                <tr>
                    <td>Nuk ka të dhëna</td>
                </tr>
            }
            <tr>
                <td>@Model.BondModel?.Name</td>
                <td>@Model.BondModel?.ValueNow</td>
                <td>@Model.BondModel?.Origin</td>
                <td>@Model.BondModel?.Date</td>
                <td>@Model.BondModel?.Bond</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card p-2">
    <dv>
        <h5 class="text-center text-dark text-capitalize fw-bold mt-3">Ownership of Cryptocurrencies</h5>
    </dv>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value Now</th>
                <th>Value Bought</th>
                <th>Quantity</th>
                <th>Date</th>
                <th>Crypto </th>
                <th>Origin</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CryptoModel is null)
            {
                <tr>
                    <td>Nuk ka të dhëna</td>
                </tr>
            }
            <tr>
                <td>@Model.CryptoModel?.Name</td>
                <td>@Model.CryptoModel?.ValueNow</td>
                <td>@Model.CryptoModel?.ValueBought</td>
                <td>@Model.CryptoModel?.Quantity</td>
                <td>@Model.CryptoModel?.Date</td>
                <td>@Model.CryptoModel?.Crypto</td>
                <td>@Model.CryptoModel?.Origine</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card p-2">
    <dv>
        <h5 class="text-center text-dark text-capitalize fw-bold mt-3">Cash in Checking Accounts</h5>
    </dv>
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Institution</th>
                <th>Country</th>
                <th>Origin</th>
                <th>Account Type</th>
                <th>Owned</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.LiquidMoneyModel is null)
            {
                <tr>
                    <td>Nuk ka të dhëna</td>
                </tr>
            }
            <tr>
                <td>@Model.LiquidMoneyModel?.Type</td>
                <td>@Model.LiquidMoneyModel?.Institution</td>
                <td>@Model.LiquidMoneyModel?.Country</td>
                <td>@Model.LiquidMoneyModel?.Origine</td>
                <td>@Model.LiquidMoneyModel?.AccountType</td>
                <td>@Model.LiquidMoneyModel?.Owned</td>
                <td>@Model.LiquidMoneyModel?.Value</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card p-2">
    <dv>
        <h5 class="text-center text-dark text-capitalize fw-bold mt-3">Financial Rights and Obligations to Legal or Physical Persons</h5>
    </dv>
    <table class="table">
        <thead>
            <tr>
                <th>Creditor</th>
                <th>Debit</th>
                <th>Reason</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Duration (in months)</th>
                <th>Started Value</th>
                <th>Left Value</th>
                <th>Total Value</th>
                <th>Ownership</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.FinancialObligationModel is null)
            {
                <tr>
                    <td>Nuk ka të dhëna</td>
                </tr>
            }
            <tr>
                <td>@Model.FinancialObligationModel?.Kreditore</td>
                <td>@Model.FinancialObligationModel?.Debitore</td>
                <td>@Model.FinancialObligationModel?.Reason</td>
                <td>@Model.FinancialObligationModel?.StartDate</td>
                <td>@Model.FinancialObligationModel?.EndDate</td>
                <td>@Model.FinancialObligationModel?.Duration</td>
                <td>@Model.FinancialObligationModel?.StartedValue</td>
                <td>@Model.FinancialObligationModel?.LeftValue</td>
                <td>@Model.FinancialObligationModel?.TotalValue</td>
                <td>@Model.FinancialObligationModel?.Owned</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card p-2">
    <dv>
        <h5 class="text-center text-dark text-capitalize fw-bold mt-3">Donations and Expenses</h5>
    </dv>
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Value</th>
                <th>Name</th>
                <th>Date</th>
                <th>Reason</th>
                <th>Ownership</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.DonationModel is null)
            {
                <tr>
                    <td>Nuk ka të dhëna</td>
                </tr>
            }
            <tr>
                <td>@Model.DonationModel?.Type</td>
                <td>@Model.DonationModel?.Value</td>
                <td>@Model.DonationModel?.Naming</td>
                <td>@Model.DonationModel?.Date</td>
                <td>@Model.DonationModel?.Reason</td>
                <td>@Model.DonationModel?.Owned</td>
            </tr>
        </tbody>
    </table>
</div>