@using DeklarimiPasuris.Entities
@model List<Applications>
@{
    int id = 1;
}
<div class="card p-4">
    <h4 class="text-primary fw-bold p-3 rounded text-center" style="background-color: #eee">Lista e Deklarimeve</h4>
</div>
<div class="card p-4">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Aplication Date</th>
                <th>Details</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            @if (User.IsInRole("Admin"))
            {
                @foreach (var item in Model)
                {
                    if (Model is null || Model.Count() == 0)
                    {
                        <tr>
                            <td class="text-center">No Aplications</td>
                        </tr>
                    }
                    <tr>
                        <td>@id</td>
                        <td>@item.User?.FirstName</td>
                        <td>@item.User?.LastName</td>
                        <td>@item.Created</td>
                        <td><a class="btn btn-info" asp-action="Details" asp-controller="Declare" asp-route-userId="@item.UserId" asp-route-date="@item.Date.ToString()">Details</a></td>
                        <td><a class="btn btn-primary" asp-action="" asp-controller="" asp-route-userId="" asp-route-date="@item.Date.ToString()">Download</a></td>
                    </tr>
                    id++;
                }
            }
            else
            {
                var currentUser = User.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;
                if (Model is null || Model.Count() == 0)
                {
                    <tr>
                        <td class="text-center" colspan="5">No Aplications</td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.Where(m => m.UserId == currentUser))
                    {
                        <tr>
                            <td>@id</td>
                            <td>@item.User?.FirstName</td>
                            <td>@item.User?.LastName</td>
                            <td>@item.Created</td>
                            <td><a class="btn btn-info" asp-action="Details" asp-controller="Declare" asp-route-userId="@item.UserId" asp-route-date="@item.Date.ToString()">Details</a></td>
                        </tr>
                        id++;
                    }
                }
            }
        </tbody>
    </table>
</div>
